<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Task manager</a>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
      <button class="btn btn-custom" (click) = "addServer()" [disabled]="totalServers===10">Add server</button>
      <button class="btn btn-custom mx-2" (click) ="removeServer()" [disabled]="totalServers===1">Remove server</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
      <input class="form-control task-input" type="number" name="" id="" [(ngModel)]="newTask" placeholder="task">
      <button class="btn btn-custom mx-2" (click)="addtask()" [disabled]="newTask < 1">Add task</button>
    </div>
  </div>
  <div class="row py-5">
    <div *ngFor="let server of servers; let i = index" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
      <div class="server">
        <div *ngIf="server.showProgress" class="task-progress"></div>
      </div>
      <div *ngFor="let task of server.waiting; let i = index" class="task-wrapper mt-2">
        <div class="task">Waiting...</div>
        <div class="task-delete" (click)="removeTask()"><i class="fa fa-trash"></i></div>
      </div>
    </div>
  </div>
</div>

 